<!DOCTYPE html>
<html>
<head>
  <title>Debugging Warmup</title>
</head>
<body>
<h1>Hunt.ly - The social network for people named Hunter</h1>

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<%= yield %>
</body>
</html>
