<h2>Register</h2>

<form method="post" action="/registrations">
  <ul>
    <li>
      <label for="username">Username</label>
      <input type="text" id="username" name="username"/>
    </li>
    <li>
      <label for="email">Email</label>
      <input type="text" id="email" name="email"/>
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" id="password" name="password"/>
    </li>
    <li>
      <label for="name_is_hunter">I legally verify that my name is actually Hunter</label>
      <input type="checkbox" id="name_is_hunter" value="1" name="name_is_hunter"/>
    </li>
    <li>
      <input type="submit" value="Register" />
    </li>
  </ul>
</form>
