development:
  adapter: postgresql
  encoding: unicode
  database: debugging_sinatra_development
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: debugging_sinatra_development
  pool: 5
  username: gschool
  password:
